table
{
    margin-left: 5%;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td,th
{
	text-align: center;
    border: 1px solid black;
}
h1{
    margin-left: 5%;
}